.contact-container {
  min-height: toRem(600);
  max-height: toRem(800);
  padding: toRem(50) toRem(100);

  &__main {
    background: darken(aliceblue, 5%);
    height: 100%;
    @extend %border;
    @extend %box-shadow;
    font-family: C059;

    &__head {
      display: flex;
      justify-content: space-between;
      &-info {
        padding: toRem(50);
        font-family: Chandas;
        h1, h2 {
          display: flex;
        }
        img {
          padding-right: toRem(10);
          margin-right: toRem(10);
          height: toRem(30);
          border-right: toRem(2) solid black;
        }
      }
      &-photo {
        height: toRem(300);
        border-radius: 50%;
        @extend %border;
        @extend %box-shadow;
        margin-bottom: toRem(10);
        width: toRem(350);
        margin: toRem(20);
      }
    }

    h1, h2, h3, h4 {
      font-weight: bold;
      border-bottom: toRem(2) dashed gray;
      text-align: center;
      margin-bottom: toRem(20);
      padding: toRem(10);

    }
    h1, h2 {
      font-size: toRem(30);
    }
    h4 {
      width: 20%;
    }
    ul {
      width: 15%;
      //display: flex;
      //justify-content: center;
      //flex-direction: column;
      li {
        list-style: circle;
        border-bottom: 1px solid black;
      }
    }
  }
}