.crypto-app {
  width: toRem(250);
  height: toRem(650);
  padding: toRem(20);
  &:hover {
    transform: scale(1.01);
  }
}

.crypto-search {

  &__form {
    @extend %border;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @extend %form-btns-radius;
    cursor: pointer;
    box-shadow: 0 0 toRem(10) 0 black;

    &-input {
      background: $color-crypto-inputs;
      border: none;
      border-top: toRem(3) solid black;
      text-align: center;
      font-size: toRem(20);
      color: white;

      &:last-of-type {
        font-weight: bolder;
        color: $color-fonts;

      }
      &__hide {
        display: none;
      }
    }

    &-toggle {
      background: $color-crypto-inputs;
      border: none;
      border-top: toRem(3) solid black;
      border-radius: 0 0 toRem(26) toRem(26);

      &__arrow {
        height: toRem(30);
      }
    }

    &-container {
      background-image: url("../../images/crypto.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;


      &__title {
        font-size: toRem(23);
        padding: toRem(15);
        color: white;
        text-shadow: 0 0 toRem(15) black;
        font-weight: bolder;
      }

      &__text {
        background: $color-crypto-text-background;
        color: white;
        opacity: 80%;
        transition: 1.5s;
        padding: toRem(10);
        font-size: toRem(20);

        &:hover {
          opacity: 100%;
          border-bottom: toRem(3) solid black;
          border-top: toRem(3) solid black;

        }


        &-list {
          display: flex;
          justify-content: space-between;
          margin: toRem(20) toRem(10);
          font-size: toRem(20);

          &-element {
            &:first-child {
              border-left: none;
              color: goldenrod;
            }

            &:nth-child(2) {
              color: green;
            }

            &:last-child {
              color: orangered;
            }

          }

        }

        &-main {
          border-bottom: toRem(3) solid rgba(194, 194, 214, 0.3);
          border-top: toRem(3) solid rgba(194, 194, 214, 0.3);
          padding: toRem(15);
          margin: toRem(10);
          color: black;
        }
        &-footer {
          font-size: toRem(14);
        }
      }
      &__footer {
        margin: toRem(10);
        text-align: end;
        color: lighten(black, 40%);
        font-size: toRem(12);
      }
    }
  }
}