.crypto-app {
  height: toRem(650);
  width: toRem(250);
  padding: toRem(20);

  &:hover {
    transform: scale(1.01);
  }

  &__error-message {
    font-family: "Droid Sans";
    background-color: $color-error-message;
    border: toRem(3) solid black;
    margin: toRem(10) 0;
    padding: toRem(20);
    box-shadow: 0 0 toRem(5) 0 black;
    cursor: default;
    text-align: center;
    text-transform: uppercase;
  }
}

.crypto-search {
  min-width: toRem(250);

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @extend %border;
    @extend %form-btns-radius;
    box-shadow: 0 0 toRem(10) 0 black;
    cursor: pointer;

    &-input {
      font-size: toRem(20);
      color: white;
      background: $color-crypto-inputs;
      border: none;
      border-top: toRem(3) solid black;
      text-align: center;

      &:last-of-type {
        font-weight: bolder;
        color: $color-fonts;

      }

      &__hide {
        display: none;
      }
    }

    &-toggle {
      background: $color-crypto-inputs;
      border: none;
      border-top: toRem(3) solid black;
      border-radius: 0 0 toRem(26) toRem(26);

      &__arrow {
        height: toRem(30);
      }
    }

    &-container {
      background-image: url("../../images/crypto.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;


      &__title {
        font-size: toRem(23);
        font-weight: bolder;
        color: white;
        padding: toRem(15);
        text-shadow: 0 0 toRem(15) black;

      }

      &__text {
        font-size: toRem(20);
        background: $color-crypto-text-background;
        color: white;
        opacity: 80%;
        transition: 1.5s;
        padding: toRem(10);

        &:hover {
          opacity: 100%;
          border-bottom: toRem(3) solid black;
          border-top: toRem(3) solid black;

        }


        &-list {
          font-size: toRem(20);
          display: flex;
          justify-content: space-between;
          margin: toRem(20) toRem(10);

          &-element {
            &:first-child {
              color: goldenrod;
              border-left: none;

            }

            &:nth-child(2) {
              color: green;
            }

            &:last-child {
              color: orangered;
            }

          }

        }

        &-main {
          color: black;
          border-bottom: toRem(3) solid rgba(194, 194, 214, 0.3);
          border-top: toRem(3) solid rgba(194, 194, 214, 0.3);
          padding: toRem(15);
          margin: toRem(10);

        }

        &-footer {
          font-size: toRem(14);
        }
      }

      &__footer {
        font-size: toRem(12);
        color: lighten(black, 40%);
        margin: toRem(10);
        text-align: end;

      }
    }
  }
}