.crypto-result {
  font-family: "DejaVu Serif";
  width: toRem(250);
  height: toRem(100);
  background: $color-crypto-result-background;
  @extend %border;
  padding: toRem(5);
  position: relative;
  cursor: pointer;

  &:hover::before {
    content: 'x';
    font-size: toRem(150);
    color: $color-error-message;
    position: absolute;
    bottom: 1px;
    left: 90px;
    transform: scaleX(3.2);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__title {
      font-size: toRem(22);
      font-weight: bolder;
      color: black;

    }

    img {
      background: black;
      @extend %border;
      padding: toRem(2);
      border-radius: 50%;

    }

    &__body {
      font-size: toRem(20);
      font-weight: bolder;
      color: gold;

    }
  }
}
