.fitness-body__container {
  padding: toRem(15);
  margin: toRem(5) toRem(5);


  &__input {
    font-size: toRem(17);
    width: toRem(140);
    height: toRem(20);
    margin-bottom: toRem(10);
    border-radius: toRem(15) 0 0 toRem(15);
    border: toRem(2) solid black;
    text-align: center;
  }

  &__btn {
    font-size: toRem(17);
    font-weight: bold;
    width: toRem(50);
    height: toRem(26);
    background: darkslategrey;
    border-radius: 0 toRem(15) toRem(15) 0;
    border: toRem(2) solid black;
    border-left: none;

  }

  &__text {
    font-size: toRem(18);
    color: black;
    width: 100%;
    margin-left: toRem(10);
    border-bottom: toRem(2) solid gray;
    padding: toRem(2) 0;
    text-shadow: none;
    cursor: pointer;
    list-style: number;
    transition: 0.2s;

    &:hover {
      color: $color-remove-item;
      transform: scale(1.2);

    }
  }
}