.fitness-app {
  height: toRem(400);
  width: toRem(800);
  padding: toRem(20);

  &__btn {
    @extend %fitness-btn;

    &__remove {
      color: lighten($color-error-message, 10%);
      border: none;
      background: transparent;
      transition: 0.2s;
      &:hover {
        color: $color-error-message;
        transform: scale(1.5);
      }
    }
  }

  &-container {
    background-image: url("../../images/food.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: toRem(20) toRem(20);
    border-radius: toRem(20);
    overflow: auto;
    @extend %box-shadow;
    @extend %border;


    &__title {
      background: $color-fitness-title;
      @extend %border;
      @extend %box-shadow;
      border-radius: toRem(5);
      margin: 0 toRem(190) toRem(10) 0;
      font-size: toRem(30);
      font-family: "DejaVu Serif";
      padding: toRem(2) toRem(50);
      position: relative;
      cursor: default;
      animation-name: falling-down;
      animation-duration: 2s;


      &::before {
        background-image: url("../../images/pizza.png");
        @extend %fitness-title-images;
        width: toRem(100);
        height: toRem(60);
        right: toRem(395);
        bottom: toRem(-10);
        content: "";

      }



      &::after {
        background-image: url("../../images/drink.png");
       @extend %fitness-title-images;
        width: toRem(100);
        height: toRem(60);
        right: toRem(-105);
        bottom: toRem(-5);
        content: "";

      }
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: toRem(12);

    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 toRem(5) white;
      @extend %fitness-scrollbar;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-fitness-scrollbar;
      @extend %fitness-scrollbar;
      border: toRem(2) solid black;
    }

    &__btn {
      background: #ff8000;
      border-radius: toRem(20) toRem(20);
      margin-bottom: toRem(10);

    }

    &__head {
      background: $color-fitness-list-elements;
      border: toRem(2) solid black;
      padding: toRem(10);


      &:first-of-type {
        border-radius: 10px 10px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 10px 10px;
      }

      &-element {
        font-size: toRem(28);
        font-weight: bold;
        font-family: Charmonman;
        border-bottom: toRem(1) solid darkgray;
        width: 100%;
        padding: toRem(5) 0;
        margin: toRem(10) 0;
      }
    }
  }
}