
.header {
  background: $color-header-navBar;
  border-bottom: toRem(2) solid black;



  &-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: toRem(97);
    align-items: center;
    min-width: 900px;
    &__logo {
      font-size: toRem(30);
      font-weight: bolder;
      font-family: "DejaVu Sans";
      text-decoration: none;
      color: $color-header-logo;
      position: relative;

      &::before {
        content: '';
        background-image: url("../../../public/icons8-globe-flatart-icons-flat-96.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: toRem(25);
        margin-right: toRem(5);
        position: relative;
        bottom: toRem(20);
      }

      &-element {
        color: $color-header-logo_elements;
        font-family: "Charmonman";
      }
    }

    &__nav {
      a {
        margin: toRem(50);
        font-size: toRem(28);
        text-decoration: none;
        font-family: "Rasa SemiBold";
        color: $color-header-navBar_elements;

        &:last-child {
          margin-right: 0;
        }

        //@include mobile {
        //  display: none;
        //}
        &:hover {
          padding-bottom: toRem(26);
          border-bottom: toRem(2) solid $color-header-navBar_elements-hover;
          color: $color-header-navBar_elements-hover;


        }
      }

    }

  }
}

//.header-container__nav-hamburger {
//  display: none;
//
//  padding: 2px;
//  cursor: pointer;
//  margin-right: 5px;
//  &:hover{
//    display: block;
//    box-shadow: 0 0 3px 0 gray;
//  }
//  @include mobile {
//    display: block;
//
//  }
//  span{
//    background: black;
//    width: 65px;
//    height: 12px;
//    margin: 7px;
//    border-radius: 13px;
//
//    @include mobile {
//      display: block;
//    }
//  }
//}
