
.header {
  background: $color-header-navBar;
  min-width: toRem(1400);
  border-bottom: toRem(2) solid black;


  &-container {
    min-width: toRem(900);
    max-width: toRem(1600);
    height: toRem(97);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    &__logo {
      font-size: toRem(30);
      font-weight: bolder;
      font-family: "DejaVu Sans";
      text-decoration: none;
      color: $color-header-logo;
      position: relative;

      &::before {
        content: '';
        background-image: url("../../../public/icons8-globe-flatart-icons-flat-96.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        padding: toRem(25);
        margin-right: toRem(5);
        position: relative;
        bottom: toRem(20);
      }

      &-element {
        font-family: "Charmonman";
        color: $color-header-logo_elements;
      }
    }

    &__nav {
      a {
        font-family: "Rasa SemiBold";
        font-size: toRem(28);
        color: $color-header-navBar_elements;
        margin: toRem(50);
        text-decoration: none;


        &:last-child {
          margin-right: 0;
        }


        &:hover {
          color: $color-header-navBar_elements-hover;
          padding-bottom: toRem(26);
          border-bottom: toRem(2) solid $color-header-navBar_elements-hover;

        }
      }
    }
  }
}

