
.main {
  //background: $color-main-background-side;
  background: $color-weather-home;
  //background-position: center;
  //background-size: cover;
  //background-repeat: no-repeat;
  height: calc(100vh - 99px);
  overflow: auto;
  .main-container {
    max-width: 1600px;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 black;
    background: $color-main-background;
    height: auto;
    min-height: 100%;

  }
}