.apps-container {
  display: flex;
  align-items: center;

  &__btn{
    opacity: 40%;
   &:hover {
     cursor: pointer;

   }
    &:first-child{
      transform: rotate(90deg);

    }
    &:last-child{
      transform: rotate(270deg);
    }
  }
  &__slider {
    height: toRem(600);
    width: 100%;
    background: $color-slider-background;
    @extend %border;
    margin-top: toRem(30);
    padding: toRem(40);
    border-radius: toRem(5);
    position: relative;
    flex-direction: column;

  }
}