.register {
  min-width: toRem(1600);
  position: relative;


  .register-container {
    width: 50%;
    background: lightgray;
    position: relative;
    left: toRem(250);
    top: toRem(50);
    padding: toRem(50) toRem(100);
    border-radius: toRem(10);
    box-shadow: 0 0 toRem(5) 0 black;

    &-logo {
      font-family: "Bitstream Charter";
      font-size: toRem(45);
      font-weight: bolder;
      margin-bottom: toRem(20);
      text-align: center;
      cursor: default;

    }

    &-form {

      input {
        width: 100%;
        height: toRem(30);
        display: block;
        @extend %border;
        margin-bottom: toRem(10);
        box-shadow: 0 0 toRem(1) 0 black;
      }

      &__checkbox {
        width: toRem(10);
        position: relative;
        bottom: toRem(48);
        left: toRem(375);
        box-shadow: 0 0 0 0 transparent !important;
        cursor: pointer;

      }

      &__param {
        width: 96%;
        background: white;
        @extend %border;
        margin-top: toRem(20);
        padding: toRem(20);
        cursor: pointer;


        &:hover {
          box-shadow: 0 0 toRem(5) 0 black;
        }
      }

      &__button {
        font-size: toRem(25);
        font-weight: bolder;
        background: gray;
        @extend %border;
        padding: toRem(10) toRem(25);
        margin-left: toRem(650);
        border-radius: toRem(8);
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 toRem(5) 0 black;
        }
      }
    }
  }
}
