
.weather-app {
  width: toRem(250);
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: toRem(10);


  &__error-message {
    font-family: "Droid Sans";
    background-color: $color-error-message;

    border: toRem(3) solid black;
    box-shadow: 0 0 toRem(5) 0 black;
    cursor: default;
    padding: toRem(20);
    margin: toRem(10) 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.weather-form {
  height: 100%;

  &:hover {
    transform: scale(1.015);
    border-radius: toRem(30);
    cursor: pointer;

  }

  &-container {
    width: toRem(204);
    background-image: url("../../images/weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @extend %border;
    padding: toRem(20);
    margin-top: toRem(10);
    border-bottom: none;
    border-radius: toRem(8) toRem(8) 0 0;
    box-shadow: 0 0 toRem(3) 0 black;

    &__title {
      font-family: "Abyssinica SIL";
      font-size: toRem(17);
      font-weight: bolder;
      color: white;
      margin-bottom: toRem(10);
      padding-bottom: toRem(10);
      text-align: center;
      text-shadow: 0 0 toRem(15) black;

    }

    &__text {
      font-family: "Roboto Thin";
      font-size: toRem(17);
      background-image: $color-weather-container;
      @extend %border;
      opacity: 90%;
      text-align: center;
      transform: scaleX(1.23);
      transition: 1s;

      &:hover {
        opacity: 100%;

      }

      &-footer {
        font-size: toRem(13);
        margin: toRem(12);
      }

      &-main {
        border-top: toRem(3) solid gray;
        border-bottom: toRem(3) solid gray;
        margin: toRem(5);
        padding: toRem(15) 0;

      }
    }


    &__footer {
      font-size: toRem(10);
      opacity: 50%;
      text-align: end;
      margin-top: toRem(10);

    }

    &__list {
      margin: toRem(5);


      &-element {
        font-family: "DejaVu Serif";
        font-size: toRem(25);
        font-weight: bolder;
        margin-bottom: toRem(10);
        list-style: none;

        &:first-child {
          color: #1a1a1a;
        }

        &:nth-child(2) {
          color: #ff0000;
        }

        &:last-child {
          color: #ffff1a;
        }


      }
    }
  }

  &__input {
    width: toRem(244);
    display: flex;
    flex-direction: column;
    @extend %border;
    @extend %form-btns-radius;

    &-handle-btn {
      background: $color-weather-form-input;
      @extend %form-btns-radius;
      display: flex;
      justify-content: center;
      padding: toRem(5) 0;
      border: none;


      div {
        font-weight: bolder;
        transform: scaleX(2.5) rotate(90deg);
      }
    }

    &-text {
      width: toRem(240);
      background-image: $color-weather-form-input;
      border: transparent;
      outline: none;
      text-align: center;


      &::placeholder {
        font-weight: bolder;
        color: white;
        opacity: 40%;

      }
    }

    &-submit {
      font-weight: bolder;
      color: $color-weather-head;
      background: $color-weather-form-input;
      border: transparent;
      border-top: toRem(3) solid black;
      border-bottom: toRem(3) solid black;
      cursor: pointer;
      outline: none;

      &:hover {
        color: lighten(black, 35%);

      }
    }

    &-hide {
      display: none;
      cursor: none;
    }
  }
}