.weather-app {
  padding: toRem(10);
  display: flex;
  width: toRem(250);
  flex-direction: column-reverse;


  &:hover {
    cursor: pointer;
  }

  &__error-message {
    border: toRem(3) solid black;
    box-shadow: 0 0 toRem(5) 0 black;
    background-color: $color-error-message;
    cursor: default;
    font-family: "Droid Sans";
    padding: toRem(10) toRem(20);
    text-align: center;
    text-transform: uppercase;
  }
}

.weather-form {

  &-container {
    background-image: url("../../images/weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: toRem(204);
    box-shadow: 0 0 toRem(5) 0 black;
    padding: toRem(20);
    margin-top: toRem(10);
    border: toRem(3) solid black;
    border-radius: toRem(8) toRem(8) 0 0;

    &__title {
      color: white;
      font-weight: bolder;
      font-size: toRem(20);
      border-bottom: toRem(3) solid black;
      margin-bottom: toRem(10);
      padding-bottom: toRem(10);
      font-family: "Abyssinica SIL";

    }

    &__text {
      font-weight: bold;
      font-size: toRem(17);
      background-image: $color-weather-container;
      border: toRem(3) solid black;
      box-shadow: 0 0 toRem(1) 0 black;
      margin: toRem(10) 0;
      padding: toRem(5);
      border-radius: toRem(20);
      opacity: 95%;
      color: black;
    }

    &__footer {
      font-size: toRem(20);
      background: rgba(112, 255, 129, 0.65);
      //font-weight: normal;
      opacity: 90%;
      border-radius: toRem(20);
      padding: toRem(5);
    }

    &__list {
      background: $color-weather-container;
      border: toRem(4) solid black;
      box-shadow: 0 0 toRem(5) 0 black;
      margin: toRem(15) 0;


      &-element {
        list-style: none;
        font-weight: bolder;
        font-size: toRem(25);
        border-bottom: toRem(3) solid black;
        width: toRem(120);
        display: flex;
        justify-content: center;
        font-family: "Roboto Thin";

        &:first-child {
          color: white;
        }

        &:nth-child(2) {
          color: red;
        }

        &:last-child {
          border: none;
          color: gold;
        }


      }
    }
  }

  &__input-text {

    background-image: $color-weather-form-input;
    width: toRem(240);
    display: flex;
    align-items: center;
    border: toRem(3) solid $color-weather-form-border;


    &::placeholder {
      padding: toRem(56);
      color: white;
      opacity: 60%;
      font-weight: bolder;
    }
  }

  &__input-submit {
    width: 100%;
    font-weight: bolder;
    border: toRem(3) solid $color-weather-form-border;
    border-radius: 0 0 toRem(12) toRem(12);
    color: $color-weather-head;
    background-image: $color-weather-form-input;
    cursor: pointer;

    &:hover {
      background-image: $color-weather-form-input;

    }
  }
}