.weather-result {
  height: 100%;
  padding: toRem(8) toRem(10);
  cursor: default;
}

.weather-container {
  min-height: toRem(145);
  background-image: $color-weather-result-container;
  border: toRem(6) solid $color-border-app-boxes;
  padding: toRem(12) toRem(9);
  box-shadow: 0 0 toRem(3) 0 $color-shadow-app-boxes;
  border-radius: toRem(7);


  &__head {
    display: flex;
    justify-content: space-between;

    &-title {
      font-family: "Rasa SemiBold";
      font-size: toRem(31);
      color: $color-weather-head;
      min-height: toRem(37);
      width: toRem(127);
      padding: toRem(5) toRem(21.5) toRem(20) 0;
      border-right: toRem(3) solid black;
      text-shadow: 0 0 toRem(2) black;
    }

    &-remove-btn {
      font-size: toRem(35);
      color: lighten($color-error-message, 90%);
      padding: toRem(12);

      &:hover {
        color: $color-error-message;
        transition: 0.4s;
        cursor: pointer;

      }
    }
  }

  &__body {
    font-family: "Bitstream Charter";
    font-size: toRem(24);
    color: $color-weather-body;

    &-spin {
      animation: spin 1s infinite;
      animation-duration: 20s;
      transition: 0.1s;
    }

    &:last-child {
      border-top: toRem(3) solid black;

    }
  }

  &__head, &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .weather-border {
      height: toRem(50);
      border-left: toRem(3) solid black;
    }

    img {
      height: toRem(45);
      padding: toRem(2);

    }

    &:first-child {
      width: 100%;
      border-bottom: toRem(3) solid black;

    }
  }

  &__loading {
    margin: 20px auto;
    font-size: 40px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    animation: loading 1.7s infinite ease;

  }
}



