$color-border-app-boxes: rgb(15, 15, 25);
$color-shadow-app-boxes: rgb(13, 13, 13);
$color-error-message: rgb(255, 0, 0, 0.7);
$color-fonts: black;

$color-header-logo: black;
$color-header-logo_elements: white;
$color-header-navBar: rgb(41, 40, 43);
$color-header-navBar_elements: rgb(242, 242, 242);
$color-header-navBar_elements-hover: rgb(111, 111, 134);

$color-main-background: rgb(60, 60, 60);
$color-main-background-side: rgb(20, 20, 20);

$color-weather-result-container: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%);
$color-weather-container: linear-gradient(200deg, gray 0%,#656666 100%);
$color-weather-home: linear-gradient(#696666, #1e1e2f);

$color-weather-head: rgb(0, 0, 0);
$color-weather-body: rgb(21, 21, 21);
$color-weather-form-border: #00001a;
$color-weather-form-input: linear-gradient(135deg, #F2445A 0%,#FD593F 50%);

$color-slide-boxs-shadow: rgba(194, 194, 194, 0.2);
$color-slider-background: rgba(200, 200, 200, 0.3);

$color-crypto-inputs: rgb(61, 61, 92);
$color-crypto-text-background: rgba(61, 61, 92);

%border {
  border: toRem(3) solid $color-weather-form-border;
}
%form-btns-radius {
  border-radius: 0 0 toRem(30) toRem(30);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #F34A53, 0 -0.83em 0 -0.42em #F34A53, 0 -0.83em 0 -0.44em #F34A53, 0 -0.83em 0 -0.46em #F34A53, 0 -0.83em 0 -0.477em #F34A53;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #F34A53, 0 -0.83em 0 -0.42em #F34A53, 0 -0.83em 0 -0.44em #F34A53, 0 -0.83em 0 -0.46em #F34A53, 0 -0.83em 0 -0.477em #F34A53;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #F34A53, -0.087em -0.825em 0 -0.42em #F34A53, -0.173em -0.812em 0 -0.44em #F34A53, -0.256em -0.789em 0 -0.46em #F34A53, -0.297em -0.775em 0 -0.477em #F34A53;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #F34A53, -0.338em -0.758em 0 -0.42em #F34A53, -0.555em -0.617em 0 -0.44em #F34A53, -0.671em -0.488em 0 -0.46em #F34A53, -0.749em -0.34em 0 -0.477em #F34A53;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #F34A53, -0.377em -0.74em 0 -0.42em #F34A53, -0.645em -0.522em 0 -0.44em #F34A53, -0.775em -0.297em 0 -0.46em #F34A53, -0.82em -0.09em 0 -0.477em #F34A53;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #F34A53, 0 -0.83em 0 -0.42em #F34A53, 0 -0.83em 0 -0.44em #F34A53, 0 -0.83em 0 -0.46em #F34A53, 0 -0.83em 0 -0.477em #F34A53;
  }
}
@keyframes spin {
  from{
    transform: rotate(0deg);


  }
  to{
    transform: rotate(360deg);

  }
}