$color-border-app-boxes: rgb(15, 15, 25);
$color-shadow-app-boxes: rgb(13, 13, 13);
$color-error-message: rgb(255, 0, 0, 0.7);
$color-fonts: black;
$color-remove-item: red;

$color-header-logo: black;
$color-header-logo_elements: white;
$color-header-navBar: rgb(41, 40, 43);
$color-header-navBar_elements: rgb(242, 242, 242);
$color-header-navBar_elements-hover: rgb(111, 111, 134);

$color-main-background: rgb(60, 60, 60);
$color-main-background-side: rgb(20, 20, 20);

$color-weather-result-container: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%);
$color-weather-container: linear-gradient(200deg, gray 0%,#656666 100%);
$color-weather-home: linear-gradient(#696666, #1e1e2f);

$color-weather-head: rgb(0, 0, 0);
$color-weather-body: rgb(21, 21, 21);
$color-weather-form-border: #00001a;
$color-weather-form-input: linear-gradient(135deg, #F2445A 0%,#FD593F 50%);

$color-slide-boxs-shadow: rgba(194, 194, 194, 0.2);
$color-slider-background: rgba(200, 200, 200, 0.3);

$color-crypto-inputs: rgb(61, 61, 92);
$color-crypto-text-background: rgba(61, 61, 92);
$color-crypto-result-background: linear-gradient(gray 60%, black);

$color-fitness-app: linear-gradient(gray 60%, blue);
$color-fitness-scrollbar: linear-gradient(150deg, orangered 0%, black 100%);
$color-fitness-title: linear-gradient( #ffff99 0%, orangered 90%);
$color-fitness-list-elements: #e6e6e6;

$color-contact-main: darken(aliceblue, 3%);
$color-contact-body: aliceblue;



